

<div class="col-md-12" ng-controller="questionManager">	
	<div class="col-md-12">
		<div class="col-md-4 panel panel-primary">
			<div class="panel-body">
				<h2 class="text-center surveyName"> Survey Name</h2>
				<input ng-model="name" class="col-md-12">
			</div>
		</div>
	<div class="col-md-4 panel panel-primary">
		<div class="panel-body customPanel">
			<h2 class=" surveyName text-center"> Add a Question Type </h2>
			<button class="btn col-md-3 btn-md btn-default" ng-click="inputCreator('input')">input </button>
			<button class="btn col-md-3 btn-md btn-default" ng-click="inputCreator('textarea')"> text area </button>
			<button class="btn btn-md col-md-3  btn-default" ng-click="inputCreator('radio')"> radio </button>
			<button class="btn btn-md col-md-3  btn-default" ng-click="inputCreator('checkbox')">  checkbox </button>
		</div>
	</div>
		<button class="saveButton col-md-4 btn btn-lg btn-success" ng-click="save()"> Save </button>
	</div>

	<ul id="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>
<ul id="sortable">
    
</ul>
	
</div>