<div id="chatHome" class="pad">
<div class= "sorry">
	<p>SOrry, you have nobody to chat to yet.  Only matched connections can chat with each other.  please check back later </p>
</div>
	<div class="target col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1
 col-md-4 col-md-offset-4">
	</div>
</div>
<script type="text/javascript" src="javascript/chatHome.js"></script>

