<div id="chatHome" class="pad">
	<div class="target col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1
 col-md-4 col-md-offset-4">
	</div>
</div>
<script type="text/javascript" src="javascript/chathome.js"></script>
<script type="text/javascript" src="javascript/notify.js"></script>
