<div id="greeting" class="col-md-4 col-md-offset-4">
	<p>Hello, and welcome to homestarrunner.org.  It's dotcom</p>
	<p>I mean, hello, and welcome to matched connections.  Since this is your first time here, 
	  would you like to take the time to fill out your profile so that other can match you? </p>
	<a href="/myInfo">
		<button>Take me to my profile! </button>
	</a>
	<p>if not, it's always available under my profile.</p>
	<p>	If you'd like to help other find a connection</p>
	<a href="/makeConnection">
		<button>Click here </button>
	</a>
	<p>otherwise, </p>
	<a href="/loggedIn">
		<button> home </button>
	</a>
</div>
