<div id="home" class="col-md-4 col-md-offset-4">
	<a href ="/makeConnection">
		<button class="btn-primary col-md-12 btn btn-lg">
			<h3> make Connection </h3>
		</button>
	</a>
	<a href = "/myProfile">
		<button class="btn-primary col-md-12 btn btn-lg">
			<h3>my Profile<h3>
		</button>
	</a>
	<a href = "/myMatch">
		<button class="btn-primary col-md-12 btn btn-lg">
			<h3>my Connections<h3>
		</button>
	</a>
	<a href = "/chathome">
		<button class="btn-primary col-md-12 btn btn-lg">
			<h3>Chat<h3>
		</button>
	</a>
</div>
<script src="javascript/socket.js"></script>
<script type="text/javascript" src="javascript/score.js"></script>