<div id="home" class="form pad col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1
 col-md-4 col-md-offset-4">
	<a href ="/makeConnection">
		<button class="btn-primary col-xs-12 btn btn-lg">
			<h3> make Connection</h3>
		</button> 
	</a>
	<a href = "/myProfile">
		<button class="btn-primary col-xs-12 btn btn-lg">
			<h3>my Profile</h3>
		</button>
	</a>
	<button id ="myMatch" class="btn-primary col-xs-12 btn btn-lg">
		<h3>my Connections</h3>
	</button>
	<a href = "/chathome">
		<button  class="btn-primary col-xs-12 btn btn-lg">
			<h3>Chat</h3>
		</button>
	</a>
</div>
<div id="welcomeModal" class="modal fade"   data-backdrop="static"  role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
       	<p>Hello, and welcome to homestarrunner.org.  It's dotcom</p>
				<p>I mean, hello, and welcome to matched connections.  Since this is your first time here, 
	  			would you like to take the time to fill out your profile so that other can match you? </p>
	  		<div class="row">
					<a href="/myInfo">
						<button class="btn btn-sm col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 btn-default">Take me to my profile! </button>
					</a>
				</div>
				<br>
				<p>if not, it's always available under "my profile".</p>
				<p>	If you'd like to help others find a connection</p>
				<a href="/makeConnection">
					<button  class="btn btn-sm col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 btn-default"  >Click here </button>
				</a>
				<br>
	    </div>
	    <div class="modal-footer">
			  	<a href="/loggedin"><button type="button" class="col-xs-4  col-md-4 pull-right btn btn-info">Ok</button></a>
		  </div>
	  </div>
	</div>
</div>

<script type="text/javascript" src="javascript/home.js"></script>