<div id="home" class="pad col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1
 col-md-4 col-md-offset-4">
	<a href ="/makeConnection">
		<button class="btn-primary col-xs-12 btn btn-lg">
			<h3> make Connection </h3>
		</button>
	</a>
	<a href = "/myProfile">
		<button class="btn-primary col-xs-12 btn btn-lg">
			<h3>my Profile<h3>
		</button>
	</a>
	<!-- <a  id="myMatch" href = "/myMatch"> -->
		<button id ="myMatch" class="btn-primary col-xs-12 btn btn-lg">
			<h3>my Connections<h3>
		</button>
<!-- 	</a> -->
	<a href = "/chathome">
		<button  class="btn-primary col-xs-12 btn btn-lg">
			<h3>Chat<h3>
		</button>
	</a>
</div>

<script type="text/javascript" src="javascript/home.js"></script>