<div id="index" class="form">
	<div class="text-center jumbotron">
		<h1 class="visible-lg visible-sm visible-md">Welcome to Matched Connections</h1>
		<h3 class="visible-xs">Welcome to Matched Connections</h3>
	</div>
	<div id="login" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
		<div class=" col-md-12 row text text-center">
			<h4 class="thanks">thanks for signing up, please log in</h4>
			<h4 class="incorrect">You have entered in your information incorrectly, much shame upon you </h4>
		</div>
		<form id="loginForm" action="/login" method="post">
			<div class="row">
				<h3 class="col-md-offset-2">Email </h3>
			</div>
			<div class="row">
				<input class="input col-xs-12 col-md-8 col-md-offset-2" type="email" name="email" id="email">
			</div>
			<div class="row">
				<h3 class="col-md-offset-2">Password</h3>
			</div>
			<div class="row">
				<input class="input col-xs-12 col-md-8 col-md-offset-2" name="password" type="password" id="password">
			</div>
		</form>
				<button  id="loginButton"  class=" loginButton visible-xs visible-sm col-xs-12 btn-lg btn-primary"> Log In </button>
		<a href="/signUp">
			<button  class=" col-xs-12  col-md-4 btn-lg btn-primary " >Sign Up</button>
		</a>
		<button  id="loginButton"  class=" loginButton hidden-xs hidden-sm col-md-4 btn-lg col-md-offset-4 btn-primary"> Log In </button>
		<button id ="demo" class="col-xs-12 col-md-12 btn-md btn-default">Demo</button>
	</div>
</div>
<script type="text/javascript" src="javascript/login.js"></script>