<div id="index" class="form">
	<div class="text-center jumbotron">
			<h1 class="visible-lg visible-sm visible-md">Welcome to Matched Connections</h1>
			<h3 class="visible-xs">Welcome to Matched Connections</h3>
		</div>
	<div id="login" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
		<form action="/login" method="post">
			<div class="row">
				<h3 class="col-md-offset-2">Email </h3>
			</div>
			<div class="row">
				<input class="col-xs-12 col-md-8 col-md-offset-2" name="email">
			</div>
			<div class="row">
				<h3 class="col-md-offset-2">Password</h3>
			</div>
			<div class="row">
				<input class="col-xs-12 col-md-8 col-md-offset-2" name="password">
			</div>
			<button class="col-xs-12  col-md-12 btn-lg btn-primary" type="submit"> Submit </button>
		</form>
		<a href="/signUp">
			<button class=" col-xs-12 col-md-12 btn-md btn-info" >Register</button>
		</a>
	</div>
</div>