<div id="login" class="col-md-4 col-md-offset-4">
	<form action="/login" method="post">
		<div class="row">
			<h3 class="col-md-offset-2">Email </h3>
		</div>
		<div class="row">
			<input class="col-md-8 col-md-offset-2" name="email">
		</div>
		<div class="row">
			<h3 class="col-md-offset-2">Password</h3>
		</div>
		<div class="row">
			<input class="col-md-8 col-md-offset-2" name="password">
		</div>
		<button class="col-md-12 btn-lg btn-primary" type="submit"> Submit </button>
	</form>
	<a href="/signUp">
		<button class="col-md-12 btn-md btn-info" >Register</button>
	</a>
</div>