<div id="warningModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2>There are no more matches for this connection <h2>
        <h2>Click below to find a new connection </h2>
      </div>
      <div class="modal-footer">
		  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  	</div>
    </div>
  </div>
</div>
<button class="col-md-12 toggle"> show </button>
<div class="backDiv col-md-6 col-md-offset-3">
	<div class="frontDiv">
		<h4>Connection </h4>
    <h4 >Who is your favorite reggae group/star</h4>
		<p name="a091201" id="a091201">
		</p>
		<h4> Please explain why you didn't choose bob marley </h4>
		<p name="a091202" id="a091202"> </p>
		<h4>Cha la </h4>
		<p name="a091203" id="a091203"></p>
		<h4>Why is it always yamcha?  </h4>
		<p name="a091204" id="a091204"></p>
    <div id="primeButtons">
      <button class="btn btn-md col-md-12" id="getMatch" >yes
      </button><br>
      <button class="btn btn-md col-md-12 next"> next </button>
	  </div>
	</div>
	<h4>Match</h4>
	<h4 >Who is your favorite reggae group/star</h4>
	<p name="a091201" id="ma091201"></p>
	<h4> Please explain why you didn't choose bob marley </h4>
	<p name="a091202" id="ma091202"> </p>
	<h4>Cha la </h4>
	<p name="a091203" id="ma091203"></p>
	<h4>Why is it always yamcha?  </h4>
	<p name="a091204" id="ma091204"></p>
	<button class="pull-right btn col-md-12 btn-default btn-md save" value="true">yes </button>
	<button class="btn col-md-12 btn-default btn-md save" value ="false">no </button>
</div>

<script type="text/javascript" src="/javascript/makeConnection.js"></script>