<style>
	body { background-color: #282828  }
</style>
<div id="makeConnection">
<div id="warningModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2>There are no more matches for this connection </h2>
      </div>
      <div class="modal-footer">
		  	<button type="button" class="col-xs-12 col-md-4 pull-right btn btn-info" data-dismiss="modal">Ok</button>
	  	</div>
    </div>
  </div>
</div>
<button class="col-xs-12 col-md-4 col-md-offset-4 btn-default toggle"> <span class="glyphicon glyphicon-refresh"> </span> </button>
<div class="backDiv col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-xs-12">
	<div class="frontDiv">
		<div class="padding">
		<h3 class="text-center">Connection </h3>
    <h4 >Who is your favorite reggae group/star</h4>
		<p name="a091201" id="a091201">
		</p>
		<h4> Please explain why you didn't choose bob marley </h4>
		<p name="a091202" id="a091202"> </p>
		<h4>Cha la </h4>
		<p name="a091203" id="a091203"></p>
		<h4>Why is it always yamcha?  </h4>
		<p name="a091204" id="a091204"></p>
    <div id="primeButtons">
      <button class="btn col-xs-5 pull-right btn-primary" id="getMatch" >yes
      </button>
      <button class="btn col-xs-5 btn-default next pull-left " > next </button>
	  </div>
	  </div>
	</div>
			<div class="padding">
	<h3 class="text-center">Match</h3>
	<h4 >Who is your favorite reggae group/star</h4>
	<p name="a091201" id="ma091201"></p>
	<h4> Please explain why you didn't choose bob marley </h4>
	<p name="a091202" id="ma091202"> </p>
	<h4>Cha la </h4>
	<p name="a091203" id="ma091203"></p>
	<h4>Why is it always yamcha?  </h4>
	<p name="a091204" id="ma091204"></p>
	<button class="btn col-xs-5 pull-right btn-success save" value="true">yes </button>
	<button class="btn col-xs-5 pull-left btn-danger save" value ="false">no </button>
</div>
</div>
</div>
<script type="text/javascript" src="/javascript/makeConnection.js"></script>