<div id="makeConnection" class="col-xs-12 col-md-6 col-md-offset-3">
	<div id="warningModal"  data-backdrop="static" 
   data-keyboard="false" class="modal fade" role="dialog">
	  <div class="modal-dialog"> 
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-body">
	        <h2>There are no more matches for this connection </h2>
	      </div>
	      <div class="modal-footer">
			  	<button id="closeModal"  type="button" class="col-xs-12 col-md-4  btn btn-info">Ok</button>
		  	</div>
	    </div>	
	  </div>
	</div>
  <div id="chatBox" class="col-md-12">
    <div class="padding">
    	<div class="row">
    		<h3 class="pull-left">Connection </h3><h3 class='pull-right'>Match</h3>
			</div>
			<div class="row">
		    <h4 class="text-center">What are you looking for in a relationship?</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq01"></p>
				<p  class="pull-left" id="q01">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What is your dream job?</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq02"></p>
				<p  class="pull-left" id="q02">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">Describe your level of social activity</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq03"></p>
				<p  class="pull-left" id="q03">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What are you most proud of</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq04"></p>
				<p  class="pull-left" id="q04">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">Describe your current physical activity level </h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq05"></p>
				<p  class="pull-left" id="q05">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What does your ideal weekend look like</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq06"></p>
				<p  class="pull-left" id="q06">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">If you could meet anybody in history, who would it be</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq07"></p>
				<p  class="pull-left" id="q07">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">If you could go anywhere in the world, where would it be</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq08"></p>
				<p  class="pull-left" id="q08">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What are your views on religion?</h4>
		  </div>
		  <div class="row">
		  	<p  class= "pull-right" id="mq09"></p>
				<p  class="pull-left" id="q09">
				</p>
			</div>
  	</div>
 		<div id="buttonControl" class="col-xs-12">
      <button id ="left" class="btn col-sm-2 col-xs-3 col-sm-offset-2 btn-danger save" value="false" ><span class="glyphicon glyphicon-remove"> </span> <span id="rightText"> </span> </button>
      <button class="col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-2 btn-default toggle"> <span class="glyphicon glyphicon-refresh"> </span> </button>
		  <button id="right" class="btn col-sm-2  col-xs-3 col-xs-offset-2 col-sm-offset-1 btn-success save" value="true">yes <span class="glyphicon glyphicon-ok"> </span>
		  </button>
  	</div>
	</div>
</div>
<script type="text/javascript" src="/javascript/makeConnection.js"></script>