<h4>seeking</h4>
				<select id="seeking" name="seeking">
					<option disabled selected value> -- select an option -- </option>
					<option>M</option>
					<option>F</option>
					<option>B</option>
				</select>
				<h4>My Age </h4>
					<input name="age" id="age">
				<h4>My city </h4>
				<select id="city" name="city">
					<option disabled selected value> -- select an option -- </option>
					<option>Liberty City</option>
					<option>Vice City</option>
				</select>
				<h4>My gender </h4>
				<select id="gender" name="gender">
					<option disabled selected value> -- select an option -- </option>
					<option>M</option>
					<option>F</option>
				</select>
				<h4>higher age</h4>
				<input id="upper" name="upper">
				<h4>lower age </h4>
				<input id="lower" name="lower">
      </div>



      <script type="text/javascript" src="/javascript/myQuestions.js"></script>