<div id = "myMatch" class="col-xs-12 col-md-6 col-md-offset-3">
	<div id="warningModal" class="modal fade"   data-backdrop="static"  role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-body">
	        <h2 id="modalText"></h2>
	      </div>
	      <div class="modal-footer">
			  	<a href="/loggedin"><button type="button" class="col-xs-12 col-md-4 pull-right btn btn-default">Ok</button></a>
		  	</div>
	    </div>
	  </div>
	</div>
	<div id ="chatBox" class="col-md-12">
	<div class="row">
		    <h4 class="text-center">What are you looking for in a relationship?</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q01">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What is your dream job?</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q02">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">Describe your level of social activity</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q03">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What are you most proud of</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q04">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">Describe your current physical activity level </h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q05">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What does your ideal weekend look like</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q06">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">If you could meet anybody in history, who would it be</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q07">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">If you could go anywhere in the world, where would it be</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q08">
				</p>
			</div>
				<div class="row">
		    <h4 class="text-center">What are your views on religion?</h4>
		  </div>
		  <div class="row">
		  	<p  class="pull-left" id="q09">
				</p>
			</div>
		 <div class="row">
			<div id="buttonControl" class="col-xs-12">
   			<button id ="left" class="btn col-sm-2 col-xs-3 col-sm-offset-2 btn-danger save" value="0" > <span class="glyphicon glyphicon-remove"> </span> no
    		</button>
	  		<button id="right" class="btn col-sm-2  col-xs-3 col-xs-offset-6 col-sm-offset-4 btn-success save" value="1">yes <span class="glyphicon glyphicon-ok">
	  		</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="javascript/usermatch.js"></script>