<script type="text/javascript" src="javascript/usermatch.js"></script>

<div class="col-md-6">
<button class="find"> find a prime </button>
<button class="next"> next </button>

	<h4 >Who is your favorite reggae group/star</h4>
	<p name="a091201" id="a091201">

	</p>
	<h4> Please explain why you didn't choose bob marley </h4>
	<p name="a091202" id="a091202"> </p>
	<h4>Cha la </h4>
	<p name="a091203" id="a091203"></p>
	<h4>Why is it always yamcha?  </h4>
	<p name="a091204" id="a091204"></p>
</div>
	<button class="btn col-md-12 btn-default btn-md save" value="true">yes </button>
	<button class="btn col-md-12 btn-default btn-md save" value ="false">no </button>