<div id="myProfile" class="col-md-4 col-md-offset-4">
	<a href="/myInfo">
		<button  data-toggle="modal" data-target="#myModal" class="btn-primary col-md-12 btn btn-lg">
		<h3> myInfo</h3>
		</button>
	</a>
	<a href="myQuestions">
		<button data-toggle="modal" data-target="#myModal2" class="btn-primary col-md-12 btn btn-lg">
		<h3>My Questions </h3>
		</button>
	</a>
	<a href = "/settings">
		<button class="btn-primary col-md-12 btn btn-lg">
			<h3>settings<h3>
		</button>
	</a>
</div>

        	



<script type="text/javascript" src="/javascript/myQuestions.js"></script>

