<div id="myProfile" class="pad text-center col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1
 col-md-4 col-md-offset-4">
<div class="row">
 	<h4 >Who is your favorite reggae group/star</h4>
</div>
<div class="row">
	<select class= "col-sm-6 col-sm-offset-3 col-xs-12"  name="a091201" id="a091201">
		<option disabled selected value> -- select an option -- </option>
		<option>Eek a mouse </option>
		<option>Buju Banton </option>
		<option>The Upsetter </option>
	</select>
</div>
<div class="row">
	<h4> Please explain why you didn't choose bob marley </h4>
</div>
<div class="row">
	<textarea class= "col-sm-6 col-sm-offset-3 col-xs-12"  name="a091202" id="a091202"> </textarea>
</div>
<div class="row">
	<h4>Cha la </h4>
</div>
<div class="row">
	<select class= "col-sm-6 col-sm-offset-3 col-xs-12"   name="a091203" id="a091203">
		<option disabled selected value> -- select an option -- </option>
		<option>Head cha la</option>
		<option>CHA LA HEAD CH LA </option>
	</select>
</div>
<div class="row">
	<h4>Why is it always yamcha?  </h4>
</div>
<div class="row">
	<textarea class= "col-sm-6 col-sm-offset-3 col-xs-12" name="a091204" id="a091204"></textarea>
</div>
   <button class= "col-xs-12 col-sm-6 col-sm-offset-3 btn btn-primary" id="myQuestions"> submit</button>
</div>
<script type="text/javascript" src="/javascript/myQuestions.js"></script>