<form id="submit" action="/myQuestions" method="POST">
	<h4>seeking</h4>
	<select id="seeking" name="seeking">
		<option disabled selected value> -- select an option -- </option>
		<option>M</option>
		<option>F</option>
		<option>B</option>
	</select>
	<h4>My Age </h4>
		<input name="age" id="age">
	<h4>My city </h4>
	<select id="city" name="city">
		<option disabled selected value> -- select an option -- </option>
		<option>Liberty City</option>
		<option>Vice City</option>
	</select>
	<h4>My gender </h4>
	<select id="gender" name="gender">
		<option disabled selected value> -- select an option -- </option>
		<option>M</option>
		<option>F</option>
	</select>
	<h4>higher age</h4>
	<input id="upper" name="upper">
	<h4>lower age </h4>
	<input id="lower" name="lower">
	<h4 >Who is your favorite reggae group/star</h4>
	<select name="a091201" id="a091201">
		<option disabled selected value> -- select an option -- </option>
		<option>Eek a mouse </option>
		<option>Buju Banton </option>
		<option>The Upsetter </option>
	</select>
	<h4> Please explain why you didn't choose bob marley </h4>
	<textarea name="a091202" id="a091202"> </textarea>
	<h4>Cha la </h4>
	<select name="a091203" id="a091203">
		<option disabled selected value> -- select an option -- </option>
		<option>Head cha la</option>
		<option>CHA LA HEAD CH LA </option>
	</select>
	<h4>Why is it always yamcha?  </h4>
	<textarea name="a091204" id="a091204"></textarea>
	<button type="submit">SUmbit</button>
</form>
<script type="text/javascript" src="/javascript/myQuestions.js"></script>

