<div id="myProfile" class="pad col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1
 col-md-4 col-md-offset-4 ">
	<h2 class="text-center">Your profile is: </h2>
	<button id="status" class="col-xs-12 btn btn-lg">
		<H3 id="statusText">INCOMPLETE</H3>
	</button>
	<a href="/myProfile">
		<button  class="col-xs-12 btn btn-md btn-primary">
			<H3 id="statusText">Back </H3>
		</button>
	</a>
</div>
<script type="text/javascript" src="javascript/settings.js"></script>