<div id="signUp">
	<div class="jumbotron ">
		<h1 class="text-center">sign up page</h1>
	</div>
	<div class="panel panel-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
		<div class="panel-body">
			<div class="row">
				<h4 class=""> first name </h4>
			</div>
			<div class="row">
				<input class="col-xs-12 col-md-8 col-md-offset-2" id="firstName">
			</div>
			<div class="row">
				<h4 class=""> last name </h4>
			</div>
			<div class="row">
				<input class="col-xs-12 col-md-8 col-md-offset-2" id="lastName">
			</div>
			<div class="row">
				<h4 class="">email </h4>
			</div>
			<div class="row">
				<input class="col-xs-12 col-md-8 col-md-offset-2" id="email">
			</div>
			<div class="row">
				<h4 class=""> Password </h4>
			</div>
			<div class="row">
				<input class="col-xs-12 col-md-8 col-md-offset-2" id="password">
			</div>
			<div class="row">
				<button class="btn btn-md btn-info col-xs-12" id="signup" > Submit
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="javascript/signup.js"></script>
