<div id="signUp">
	<div class="jumbotron text-center">
		<h1 class="text-center">sign up page</h1>
	</div>
	<div class="panel panel-info col-md-4 col-md-offset-4">
		<div class="panel-body">
			<form action="/signUp" method="POST">
				<h4 class="text-center"> first name </h4>
				<input class="col-md-12" name="firstName" >
				<h4 class="text-center"> last name </h4>
				<input class="col-md-12" name="lastName">
				<h4 class="text-center">email </h4>
				<input class="col-md-12" name="email">
				{{msg}}
				<h4 class="text-center"> Password </h4>
				<input class="col-md-12" name="password">
				<button class="btn btn-md btn-info col-md-12" type="submit" > Submit
				</button>
			</form>
		</div>
	</div>
</div>
