<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>

	<title>Change</title>
</head>
<body ng-app="app">
<!-- 	<div ng-show="$state.current.name == 'questionManager'"> -->


<div ng-controller="navbar">

		<div ng-hide="$state.current.name == 'index' || $state.current.name == 'signUp'">
			<nav class=" fadeIn navbar navbar-default navbar-fixed-top">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		           <a class="navbar-brand" ui-sref="home">Match Or Maker</a>
		      </div>
		       <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
		      
		        <ul class="nav navbar-nav navbar-left">
		        <li ng-show="userAccount == 'Match'"><a ui-sref="myStory">Show Matches</a></li>
		        <li ng-show="userAccount == 'Match'"><a ui-sref="myProfile">My Profiles</a></li>
		        <li ng-show="userAccount == 'Maker'"><a ui-sref="music">Find Matches</a></li>
		        <li ng-show="userAccount == 'Maker'"><a ui-sref="music">Previous Matches</a></li>
		        <li><a ui-sref="personalTraining">Logout</a></li>
		        </ul>
		      </div>
		    </div>
		  </nav>
	<!-- can use the following divs.  one nav bar, many buttons -->
			<div ng-show="userAccount == 'Match'"> Match option </div> w
			<div ng-show="userAccount == 'Maker'"> maker option </div>

	</div>
</div>


	<div class="container-fluid"> 



<!-- <li><a ui-sref="index">Web Coding</a></li> -->
 		<div ui-view autoscroll="false"></div>
 		</div>
 	</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/simplex/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js">
  	
  </script>
   
<script src="/assets/javascript/app.js"></script>
 <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
 <script src="https://code.angularjs.org/1.4.5/angular-cookies.min.js"></script>
<script src="/assets/javascript/controllers/home.js"></script>
<script src="/assets/javascript/controllers/navbar.js"></script>
<script src="/assets/javascript/controllers/myProfile.js"></script>
<script src="/assets/javascript/controllers/questionManager.js"></script>


</body>
</html>