.main {
	padding:0px;
}

.toggle, #match, #matchButtons {
	display: none;
}

#chatHome button h4 {
	margin:0px;
}

#myProfile button {
	margin-top: 20px;
}

#makeConnection .backDiv button {
	font-size: 20px
}

#makeConnection .backDiv button span {
	margin: 10px;
}

#chatHome .btn {
		text-transform: none;
	background-color: white;
	border:#3e3f3a 1px solid ;
}

#chatHome .btn h4 { 
	font-weight:600;
		color:black;
}

#chatHome .btn .falseuser,
#chatHome .btn .trueuser {
	color:#325d88;
}
#chatHome .btn .trueother{
	color:		#B0B0B0;
}

#chatHome .btn .falseother {
	color:	#3e3f3a;
}

#chatHome .btn:hover {
	opacity: .7
}

#makeConnection .modal-dialog,
#myMatch .modal-dialog {
	margin-top: 80px
}
.notify {
	display:inline-block;
	min-width:30px;
}

.pad {
	padding-top: 45px;
}
.navbar-default {
	margin-bottom:  0px;
}
.user {
	color:#325d88;
	text-align: right;;
}
.other {
	color:black;
	text-align: left;
}

#chatBox #messages div {
	border-bottom: #FFFBFF 1px solid;
}

#signUp .btn-md {
	margin-top: 15px;
}
#index .btn-md {
	padding: 15px;
}



#chatBox {
	overflow-y:scroll;
	margin-bottom: 25px
}
#chatControl {
	bottom: 0;
	left:0;
	padding: 0px;
	position: fixed;
}
#login button {
	margin-top: 30px;
}

#home button, #myProfile button {
	margin-bottom: 20px;
}

.error {
	border: 2px red solid;
}

.padding {
	padding:10px;
}

.backDiv {

	height: 100%;
	position: relative;
	z-index: 2;
	padding: 0px;
	background:black;
	color:white;
}

.frontDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #282828 ;	
	z-index: 1;
	right:0px;

}

.frontDiv .primeButtons button {
	position: absolute;
	z-index: 1;
}

