.user {
	color:red;
}

.other {
	color:blue;
}

.chatBox {
	overflow-y:scroll;
	height: 100px;
}

#login button {
	margin-top: 30px;
}

#home button, #myProfile button {
	margin-bottom: 20px;
}

.error {
	border: 2px red solid;
}