.main {
	padding:0px;
}

#chatHome button h4 {
	margin:0px;

}
.pad {
	padding-top: 45px;
}
.navbar-default {
	margin-bottom:  0px;
}
.user {
		color:#325d88;

		text-align: right;;
}
.other {
	color:black;
	text-align: left;
}

#chatBox #messages div {
	border-bottom: #FFFBFF 1px solid;
}

#signUp .btn-md {
	margin-top: 15px;
}
#index .btn-md {
	padding: 15px;
}



#chatBox {
	overflow-y:scroll;
	margin-bottom: 25px
}
#chatControl {
	bottom: 0;
	left:0;
	padding: 0px;
	position: fixed;
}
#login button {
	margin-top: 30px;
}

#home button, #myProfile button {
	margin-bottom: 20px;
}

.error {
	border: 2px red solid;
}

.padding {
	padding:10px;
}

.backDiv {

	height: 100%;
	position: relative;
	z-index: 2;
	padding: 0px;
	background:black;
	color:white;
}

.frontDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #282828 ;	
	z-index: 1;
	right:0px;

}

.frontDiv .primeButtons button {
	position: absolute;
	z-index: 1;
}

#chatHome button {
 opacity: .6;
}

#chatHome .falseother {
 opacity: 1.0;			
}